<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--background: transparent;">
      <!-- Left side button with an arrow -->
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back" style="color: black;"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <!-- Right side text "Welcome" -->
      <ion-buttons slot="end">
        <ion-text color="black" style="font-weight: 900; margin-right: 17px;">Register</ion-text>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="section-one">
    <h1 class="sign-heading">SignIn</h1>
    <!-- Page content goes here -->
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Exercitationem reprehenderit nobis,!</p> 
    
    <ion-list class="btn-info">

      <ion-list class="inputs-info">

        <ion-item class="input"s>
          <ion-input type="text" placeholder="User Name"></ion-input>
        </ion-item>

        <ion-item class="input">
          <ion-input type="password" placeholder="Password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <p class="for-password">Forget Password?</p>


      </ion-list>



    </ion-list>
  </ion-content>


    


  

  

</ion-content>
