<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--background: transparent;">
      <!-- Left side button with an arrow -->
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back" style="color: black;"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <!-- Right side text "Welcome" -->
      <ion-buttons slot="end">
        <ion-text color="black" style="font-weight: 900; margin-right: 17px;">Register</ion-text>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="section-one">
    <h1 class="sign-heading">SignIn</h1>
    <!-- Page content goes here -->
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Exercitationem reprehenderit nobis,!</p> 
    
    <ion-list class="btn-info">

      <ion-list class="inputs-info">

        <ion-list>
          <ion-item class="input">
            <ion-input type="text" placeholder="User Name"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item class="input">
            <ion-input type="password" placeholder="Password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
        </ion-list>

        <p class="for-password">Forget Password?</p>
      </ion-list>

      <ion-list class="signin-btn">
        <ion-button expand="block" color="dark">SignIn</ion-button>
      </ion-list>

      <!-- google-icon -->

      <ion-list class="google-fb">  
        <ion-list class="google">
          <ion-list><ion-icon name="logo-google"></ion-icon></ion-list>
          <ion-list><p>Continue via Google</p></ion-list>
          <ion-list><ion-icon name="arrow-forward-outline"></ion-icon></ion-list>
        </ion-list>
      

      <!-- faceBook-icon -->

      <ion-list class="facebook">
        <ion-list class="google">
          <ion-list><ion-icon name="logo-facebook"></ion-icon></ion-list>
          <ion-list><p>Continue via FaceBook</p></ion-list>
          <ion-list><ion-icon name="arrow-forward-outline"></ion-icon></ion-list>
        </ion-list>

      </ion-list>


    </ion-list>


    </ion-list>
  </ion-content>


    


  

  

</ion-content>
