<ion-content [fullscreen]="true">

  <!-- upper-section -->
  
    <ion-list class="delete-deep-cafe">
    <ion-list class="delete-ionic">
      <ion-icon class="deep-btn" name="beer-outline"></ion-icon>
    </ion-list>
  
    <ion-list><h3 class="deep">deeps</h3></ion-list>
    <ion-list><p class="cafe">BEER CAFE</p></ion-list>
  </ion-list>
  
  <!-- bottom-section -->
  
  <ion-list class="bottom-part">
  
    <h1>Welcome</h1>
    <ion-list>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis maxime ducimus excepturi nemo velit, accusamus tempora eos animi iusto voluptatum ipsam sit quaerat omnis suscipit nisi exercitationem corrupti, amet dicta.</p></ion-list>
  </ion-list>
  
  <ion-list class="welcome-btn">
  
    <ion-button class="left" shape="round" color="transparent">SignIn</ion-button>
  
    <ion-button class="right" shape="round" color="light">SignUp</ion-button>
  
  
  </ion-list>
  
  
  </ion-content>
  